@use './mixins' as *;
@use './vars' as *;
@use './content/doc-content';

.page-content {
  padding-top: var(--nav-height);
  padding-left:0;
  @media screen and (min-width: 719px){
    &.has-sidebar {
      padding-left: 15rem;
    }
  }

  .doc-content a {
    display: inline-flex;
    align-items: center;
    &.vp-link {
      white-space: nowrap;
      word-break: keep-all;
    }
    .link-icon {
      margin-left: 0.25rem;
      height: 1em;
      width: 1em;
    }
  }
}
