@use '../mixins' as *;
@use './table-of-content';

.doc-content-wrapper {
  display: flex;
  padding:35px 35px 50px 35px;
  .doc-content-container {
    flex:1;
    .doc-content {
      width: 100%;
      h2,h3{
        margin-top: -60px;
        padding-top: 70px;
      }
    }
  }
}
