{
    "plugins": [
        [
            "import",
            {
                "libraryName": "yxb-ui",
                "libraryDirectory":"lib/components",
                "style":true
            }
        ]
    ]
}